h1 {
color: rgb(23, 98, 2);
font-size: 25px;
margin: auto;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited {
color: #027600;
}

a:active {
color: blue;
}

td {
padding: 10px; 
}

.container {
max-width: 750px;
margin: auto;
padding-top: 30px;
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
color:black;
border: #0f141e;
border-radius: 0;
background-color:rgb(248, 241, 241);
padding: 20px;
}

@media (max-width: 500px) {
.container {
display: block;
font-size: 10px; 
margin: auto;
text-align: center;
}
}
 
.card-in-top {
width: 200px;
border-radius: 28px;
box-shadow: 4px 4px 14px rgba(0,0,0, .25);
display: block;
position: static;
padding: 20px;
margin-bottom: 20px;
}

.card {
border-radius: 20px;
margin-bottom: 20px;
padding: 10px 15px;
}

.bg-yellow {
background:#dbfcdf ;
}
.bg-red {
background: #d2fbda;
}
.bg-green {
background: #e5ffe7;
}

.btn {
background: rgb(23, 98, 2);
padding: 15px 20px;
color: #000;
border: none;
font-family: inherit;
cursor: pointer;
border-radius: 20px;
}

.btn:hover {
opacity: 0.8;
}